*{
    margin: 0;
    padding: 0;
}
/*bagian header*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(image/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
}
.navbar{
    flex: 1;
    text-align: right;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar ul li a{
    color:white;
    font-size: 17px;
    font-family: "Poppins"; 
    text-decoration: none;
    font-weight: normal;  
}
.navbar ul li a img{
    width: 27px;
    filter: invert(100%);
    height: 27px;
    vertical-align: middle;
}
.navbar ul li a:hover{
    filter: invert(100%);
    transition: 0.8s;
    border-radius: 8px;
    text-decoration: none;
}
.textBox{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textBox h1{
    color:white;
    font-size: 64px;
    font-family: "Poppins"; 
    line-height: 80px;
    text-align: left;
    font-weight: normal;
}
.textBox p{
    list-style: none;
    line-height: 20px;
    margin: 20px 5px 40px;
    color:white;
    font-size: 18px;
    font-family: "Poppins"; 
    line-height: 24px;
    font-weight: 400;
    text-align: left;
}
.textBox button{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(185, 96, 96, 0.4);
    padding: 10px 34px 10px 34px;
    background: #B96060;
    border-color: transparent;
    position: relative;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-weight: normal;
}
.textBox button:hover{
    border-color: transparent;
    transition: 0.8s;
    box-shadow: 5px 5px 10px rgba(233,196,141,0.4);
    background: #E9C48D;
    color: white;
}
@media (max-width: 768px){
    .navbar ul li a{
        font-size: 12px; 
    }
    .navbar ul li a img{
        width: 20px;
        height: 20px;
    }
    .textBox h1{
        font-size: 40px;
        line-height: 1.5;
    }
    .textBox p{
        margin: 20px 0 40px;
        font-size: 12px;
        text-align: left;
    }
    .textBox button{
        box-shadow: 5px 5px 10px rgba(185, 96, 96, 0.4);
        padding: 10px 24px 10px 24px;
        font-size: 30px;
        color: white;
    }
}
/* Our Top Product*/
.ourTopProduct h1{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 36px;
    color: black;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 30px;
}
.row{
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}
.productContainer{
    flex-basis: 22%;
    background: gray;
    padding-bottom: 3%;
    border-radius: 10px;
    align-items: center;
    position: relative;
    display: block;
}
.productContainer img{
    margin-top: 7%;
    margin-left: 7%;
    position: relative;
    border-radius: 10px;
    height: 57%;
    width: 86%;
}
.productContainer h3{
    font-family: "Poppins";
    color: white;
    font-size: 22px;
    margin-top: 5%;
    margin-left: 16%;
}
.productContainer p{
    font-family: "Poppins";
    margin-top: 3%;
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    color: white;
}
.addToCart a{
    font-family: "Poppins";
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: normal;
}
.addToCart{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(185, 96, 96, 0.4);
    padding: 10px 24px 10px 24px;
    margin-left: 25%;
    margin-right: 8%;
    margin-top: 5%;
    background: #B96060;
    border-color: transparent;
    position: relative;
    cursor: pointer;
}
.addToCart:hover{
    transition: 0.8s;
    box-shadow: rgba(233,196,141,0.4);
    background-color: #E9C48D;

}
@media (max-width: 768px){
    .productContainer img{
        height: 17%;
        width: 86%;
    }
    .productContainer h3{
        font-size: 13px;
        margin-top: 5%;
        margin-left: 8%;
    }
    .productContainer p{
        margin-top: 3%;
        margin-left: 8%;
        margin-right: 8%;
        font-size: 10px;
        line-height: 12px;
    }
    .addToCart a{
        font-size: 10px;
    }
    .addToCart{
        padding: 5px 14px 5px 14px;
    }
}

/*our Shop section */ 
.ourShop{
    background-color: #FEEDD3;
    margin-top: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.contentRow{
    margin-left: 11%;
    margin-right: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentRow img{
    height: 401px;
    width: 680px;
}
.contentRow h1{
    font-size: 64px;
    font-family: "Poppins";
    font-style: normal;
    color: black;
}
.contentRow button{
    margin-top: 8%;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(36,55,227,0.4);
    padding: 10px 34px 10px 34px;
    background: #2437E3;
    border-color: transparent;
    position: relative;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-weight: normal;
}
.contentRow:hover button{
    border-color: transparent;
    transition: 0.8s;
    box-shadow: 5px 5px 10px rgba(141,233,181,0.4);
    background: #46b174;
    color: white;
}
.contentRow button a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-family: "Poppins";
}
@media (max-width: 768px){
    .contentRow img{
        height: 131px;
        width: 180px;
    }
    .contentRow h1{
        font-size: 18px;
        margin-left: 8%;
    }
    .contentRow button{
        margin-top: 6%;
        margin-left: 8%;
        padding: 10px 24px 10px 24px;
        font-size: 14px;
    }
}

/*Our Story*/
.ourStory{
    background-color: #EEC1C1;
    padding-top: 10%;
    padding-bottom: 10%;
}


/* footer */
.footer{
    background-image: url(image/bg_footer2.png);
    position: relative;
    color: black;
    width: 100%; 
    font-family: "Poppins";
}
.footerContainer{
    padding: 50px 150px 50px 150px;
}
.copyright{
    font-size: 14px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
}
.footerRow{
    display: flex;
    justify-content: center;
}
.footerColumn{
    width: 25%;
    padding: 0px 15px;
    text-align: left;
}
.footerColumn img{
    width: 153px;
    height: 64px;
}
.footerColumn h4{
    font-family: "Poppins";
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
}
.footerColumn h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    background-color: black;
    width: 50px;
    box-sizing: border-box;
}
.footerColumn img{
    width: 110px;
    height: 55px;
}
.footerColumn ul{
    list-style: none;
}
.footerColumn ul li, .footerColumn ul li a{
    cursor: pointer;
    font-family: "Poppins";
    text-decoration: none;
    line-height: 2.2;
    font-size: 15px;
    color: black;
}
.footerColumn ul li:hover, .footerColumn ul li a:hover{
    margin-left: 10px;
    transition: 0.5s;
    color: gray;
}
.socmed i{
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #5E5252;
    margin: 0 10px 10px 0;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.socmed i img{
    margin-top: 9px;
    width: 50%;
    height: 50%;
}
.socmed i:hover{
    transition: 0.5s;
    background-color: #ACACAC;
}

@media (max-width: 768px){
    .footerContainer{
        padding: 10px 110px 10px 110px;
    }
    .socmed i{
        height: 30px;
        width: 30px;
    }
    .socmed i img{
        margin-bottom: 9px;
        width: 50%;
        height: 50%;
    }
    .footerColumn img{
        width: 83px;
        height: 40px;
    }
    .footerColumn ul li, .footerColumn ul li a{
        line-height: 1.8;
        font-size: 13px;
    }
    .copyright{
        font-size: 13px;
    }
    .footerColumn h4{
        font-size: 15px;
    }
    .footerColumn h4::before{
        width: 40px;
    }
    .footerColumn{
        width: 25%;
        padding: 0px 25px;
        text-align: left;
    }
}

/*About Us Page*/
.aboutUsHeader{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url(image/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.aboutUsHeader h1{
    color: white;
    font-family: "Poppins";
    font-size: 44px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}
.aboutUsContent{
    background-color: white;
    margin-top: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.aboutUsRow{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8%;
}
.aboutUsRow img{
    width: 30%;
    height: 30%;
}
.aboutUsRow h1{
    font-size: 48px;
    font-family: "Poppins";
    margin-bottom: 4%;
}
.aboutUsRow p{
    font-family: "Poppins";
    font-size: 18px;
}
@media (max-width: 768px){
    .aboutUs img{
        margin-right: 3%;
    }
    .aboutUsRow h1{
        font-size: 28px;
        margin-left: 3%;
    }
    .aboutUsRow p{
        margin-left: 3%;
        font-family: "Poppins";
        font-size: 12px;
    }
    
}

/*Location Page*/
.locationPageHeader{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url(image/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.locationPageHeader h1{
    color: white;
    font-family: "Poppins";
    font-size: 44px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}
.locationContent{
    margin-top: 8%;
}
.locationRow{
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
}
.locationContentContainer{
    flex-basis: 22%;
    background: white;
    margin-bottom: 3%;
    position: relative;
    display: block;
}
.locationContentContainer img{
    height: 333px;
    width: 500px;
}
.locationContentContainer p{
    margin-top: 3%;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
}
.locationContentContainer button{
    margin-top: 3%;
    margin-left: 150px;
    background-color: black;
    padding: 12px 50px 12px 50px;
    border-color: transparent;
    border-radius: 10px;
}
.locationContentContainer button a{
    text-decoration: none;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
}
.locationContentContainer:hover button{
    background-color: gray;
    transition: 0.8s;
    cursor: pointer;
}
@media (max-width: 768px){
    .locationContentContainer img{
        height: 82px;
        width: 100px;
    }
    .locationContentContainer p{
        transform: translateX(-10px);
        font-size: 10px;
    }
    .locationContentContainer button{
        margin-left: -5px;
        background-color: black;
        padding: 6px 30px 6px 30px;
    }
    .locationContentContainer button a{
        font-size: 10px;
    }
}

/*Product Page*/
.productPage{
    background-color: white;
}
.productPageRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productPageRow img{
    width: 50%;
    height: 50%;
}
.productPageRow button img{
    size: 30%;
}
.backIcon{
    background-color: transparent;
    filter: invert(100%);
    border-color: transparent;
    transform: translate(-885px, -250px);
    cursor: pointer;
}
.backIcon:hover button{
    filter: invert(100%);
}
.productPageColumn{
    transform: translate(-90%);
    flex-basis: 22%;
    font-family: "Poppins";
    background: white;
    padding-bottom: 3%;
    border-radius: 10px;
    position: relative;
    display: block;
}
.productPageColumn h2{
    margin-bottom: 10%;
    font-size: 36px;
}
.productPageColumn h3{
    font-size: 28px;
    margin-bottom: 8%;
}
.productPageColumn button{
    padding: 20px 25px 20px 25px;
    background-color: #B96060;
    font-size: 30px;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 8%;
    color: white;
    box-shadow: 5px 5px 10px rgba(185, 96, 96, 0.4);
}
.productPageColumn button a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-family: "Poppins";
}
.productPageColumn:hover button{
    transition: 0.8s;
    box-shadow: rgba(233,196,141,0.4);
    background-color: #E9C48D;
}
.productPageColumn p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8%;
}
.productPageColumn label {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8%;
}
.productPageColumn select{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8%;
}
.quantityForm{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8%;
    width: 35px;
}
.addressForm{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8%;
    width: 115px;
}
.ingredient{
    background-color: #EEC1C1; 
    padding: 5% 10% 5% 10%;
}
.ingredient h1{
    font-family: "Poppins";
    margin-bottom: 5%;
    font-size: 56px;
    text-align: center;
}
.ingredientRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ingredientColumn{
    flex-basis: 22%;
    font-family: "Poppins";
    position: relative;
    display: block;
}
.ingredientColumn img{
    align-items: center;
    height: 80%;
    width: 80%;
}
@media (max-width: 768px){
    .productPageRow img{
        width: 80%;
        height: 520px;
    }
    .productPageRow button img{
        size: 100%;
    }
    .productPageColumn h2{ 
        margin-left: 40%;
        font-size: 28px;
    }
    .productPageColumn h3{
        margin-left: 40%;
        font-size: 22px;
    }
    .productPageColumn button{
        margin-left: 40%;
        padding: 10px 15px 10px 15px;
        font-size: 20px;
    }
    .productPageColumn p{
        margin-left: 40%;
        font-size: 14px;
    }
    .productPageColumn label {
        margin-left: 40%;
        font-size: 14px;
    }
    .productPageColumn select{
        margin-left: 40%;
        font-size: 14px;
    }
    .quantityForm{
        margin-left: 40%;
        font-size: 14px;
        width: 25px;
    }
    .addressForm{
        margin-left: 40%;
        font-size: 14px;
        width: 35px;
    }
    .ingredient h1{
        font-size: 44px;
    }
}

/*Purchase Page*/
.cart button{
    margin-top: 3%;
    border-color: transparent;
    background-color: transparent;
}
.cart button img{
    width: 40%;
    height: 40%;
}
.cartRow{
    margin-right: 6%;
    margin-left: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.cartRow h3{
    font-family: "Poppins";
    margin-bottom: 7%;
}
.cartRow img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.title p{
    font-family: "Poppins";
    line-height: 40px;
    transform: translate(-125%);
}
.cartRow input{
    font-family: "Poppins";
    width: 50px;
    height: 30px;
    width: 35px;
}
.cartRow p{
    font-family: "Poppins";
    font-size: 20;
}
.title2{
    margin-left: 26%;
    margin-right: -1%;
}
.cart hr{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.bottomRow{
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.bottomRow button a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-family: "Poppins";
}
.bottomRow p{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 30px;
}
.bottomRow button{
    font-size: 24px;
    margin-top: -0.2%;
    padding: 15px 35px 15px 35px;
    background-color: #2437E3;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(36,55,227,0.4);
}
.bottomRow:hover button{
    transition: 0.8s;
    box-shadow: 5px 5px 10px rgba(141,233,181,0.4);
    background: #46b174;
}
@media (max-width: 768px){
    .cartRow h3{
        font-size: 14px;
    }
    .title p{
        font-size: 10px;
        line-height: 14px;
        transform: translate(-1%);
    }
    .cartRow input{
        height: 30px;
        width: 25px;
    }
    .cartRow p{
        font-size: 10px;
    }
    .bottomRow p{
        font-weight: 400;
        font-size: 16px;
    }
    .bottomRow button{
        font-size: 18px;
        padding: 15px 25px 15px 25px;
    }
}